* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* .header,
.main,
.footer {
  border: 1px solid red;
  align-items: center;
} */
h3 {
  padding-left: 25px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px;
}

@media (max-width: 1440px) {
  .container {
    padding: 0 20px;
  }
}

/* end header */
.header {
  background-color: #829985;
}
.header__nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.nav__item-link {
  position: relative;
  padding: 0 12px;
  text-decoration: none;
  font-size: 18px;
  font-weight:400;
  line-height: 30px;
  color: #fff;
  transition: 0.5s all linear;
}
.nav__item-link:hover:before {
  transform: scaleX(1);
  transition: 0.5s all;

}
.nav__item-link::before {
  content: '';
  width: 100%;
  height: 2px;
  background:  #d7d1c9;
  position: absolute;
  left: 0;
  bottom: -4px;
  transform: scaleX(0);
  transform-origin: left;
}
.nav__item-link:hover{
  transform: scale(1);
  transition: 0.5s;
  color: #4d2323;
  text-shadow: red -2px 0,
               cyan 2px 0;
}

.header__nav {
  display: block;
}
/* end header */


/* start main */
.main__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section__profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
  border-bottom: 15px solid #d7d1c9;
}
.section__profile-logo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgb(0 0 0 / 60%);
  filter: grayscale(0.2) brightness(1.05);
  transition: 0.3s;
  opacity: 0.8;
}
.section__profile-logo:hover {
  width: 300px;
  height: 300px;
  transition: 0.6s;
}
.section {
  width: calc(50% - 20px);
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid #672f2f;
}
.section__title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
}
.section__subtitle {
  text-shadow: red -2px 0,
               cyan 2px 0;
}
.section-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts-item a {
  text-decoration: none;
  color: #829985;
}
.contacts-svg {
  display: inline-block;
  width: 28px;
  height: 15px;
}
section .pre {
  padding: 0;
  margin: 0;
  right: 0;
  color: rgb(255, 255, 86);
  background-color: #4494ea;
}
.code {
  margin: 0 auto;
  left: 25px;
}
/* end main */


/* start footer */
.footer {
  background-color: #829985;
  padding: 20px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #fff;
}
.nav-link {
  position: relative;
  padding: 0 12px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}
.github {
  color: #fff;
  text-decoration: none;
  line-height: 45px;
}
.rss {
  width: 120px;
  height: 50px;
  background-image: url(./assets/svg/rss.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.rss-text {
  display: none;
}
/* end footer */

